{% extends "app/base.html" %}
{% load static %}
{% block title  %} Contact {% endblock title  %}
{% block main-content %}
<div class="container mt-3 ">
    <h1 class="text-center" style="font-family : Rajdhani ;"> About Us </h1>
    <p class="fs-4 text-center"  style="font-family : Rajdhani ;">
        Welcome to Kwartha , your trusted source for delicious milk-based products. With a passion for dairy excellence, we are committed to providing you with the highest quality and tastiest treats. Our journey began with a simple belief in the goodness of milk, and we have since crafted a wide range of products that are a testament to this belief. From creamy yogurts to delectable ice creams, each item we offer is a result of our dedication to freshness and flavor. At Kwartha , we take pride in our heritage and the generations of expertise that go into every mouthwatering bite. Discover the magic of milk with us and savor the taste of goodness in every delightful spoonful.
    </p>

</div>
<br/>
<div class="container">
    
    <h1 class="text-center"  style="font-family : Rajdhani ;"> Our Mission  </h1>
    <p class="fs-4 text-center"  style="font-family : sans-serif  ;">At [Kwartha], our mission is clear and unwavering: to promote health and happiness through the goodness of milk-based products. We are committed to sourcing the finest, locally produced ingredients to create delectable, nutritious offerings for our customers. We strive to be a sustainable and responsible brand, supporting both our community and the environment. Our dedication to quality and taste is the driving force behind everything we do. Join us in our mission to spread joy, one dairy delight at a time..</p>
</div>
{% endblock main-content %}