{% load static %}

<div class="col-md-4 col-sm-4 ml-go wow fadeInUp mb-4" data-wow-duration="ls" data-wow-delay="0.65" style="animation-duration: ls ; animation-delay: 0.6s ; animation-name : none ;">
    <div class="goodnesssec buttermilk smbg  ">
      <a href="{% url 'catogory' 'GH'  %}">
    <div class="goodnessseccont text-center ">
      <img src="{% static  'app/images/buffalo-ghee.png'%}" class="img-responsive">
    </div> 
    <p class="mlkpro"> Ghee </p>
    
  
        </a>
      </div>
  
    </div>
  
  








  <div class="col-md-4 col-sm-4 ml-go wow fadeInUp mb-4" data-wow-duration="ls" data-wow-delay="0.65" style="animation-duration: ls ; animation-delay: 0.6s ; animation-name : none ;">
    <div class="goodnesssec buttermilk buttermilk   ">
      <a href="{% url 'catogory' 'CR'  %}">
    <div class="goodnessseccont text-center ">
      <img src="{% static  'app/images/curd-total.png'%}"  class="img-responsive center-block ">
    </div> 
    <p class="mlkpro"> Curd   </p>
    
  
        </a>
      </div>
  
    </div>
  







    <div class="col-md-4 col-sm-4 ml-go wow fadeInUp mb-4" data-wow-duration="ls" data-wow-delay="0.65" style="animation-duration: ls ; animation-delay: 0.6s ; animation-name : none ;">
        <div class="goodnesssec buttermilk buttermilk   ">
          <a href="{% url 'catogory' 'ML'  %}">
        <div class="goodnessseccont text-center ">
          <img src="{% static  'app/images/cow-milk.png'%}"  class="img-responsive center-block ">
        </div> 
        <p class="mlkpro"> Cow Milk   </p>
        
      
            </a>
          </div>
      
        </div>






        <div class="col-md-4 col-sm-4 ml-go wow fadeInUp mb-4" data-wow-duration="ls" data-wow-delay="0.65" style="animation-duration: ls ; animation-delay: 0.6s ; animation-name : none ;">
            <div class="goodnesssec buttermilk  ">
              <a href="{% url 'catogory' 'Ic'  %}">
            <div class="goodnessseccont text-center ">
              <img src="{% static  'app/images/icbars.png'%}"class="img-responsive">
            </div> 
            <p class="mlkpro"> IceCreame  </p>
            
          
                </a>
              </div>
          
            </div>
        












        
  <div class="col-md-4 col-sm-4 ml-go wow fadeInUp mb-4" data-wow-duration="ls" data-wow-delay="0.65" style="animation-duration: ls ; animation-delay: 0.6s ; animation-name : none ;">
    <div class="goodnesssec buttermilk buttermilk   ">
      <a href="{% url 'catogory' 'MS'  %}">
    <div class="goodnessseccont text-center ">
      <img src="{% static  'app/images/milk-shake-vanilla.png'%}"  class="img-responsive center-block ">
    </div> 
    <p class="mlkpro"> Milk Shake    </p>
    
  
        </a>
      </div>
  
    </div>





























  <div class="col-md-4 col-sm-4 ml-go wow fadeInUp mb-4" data-wow-duration="ls" data-wow-delay="0.65" style="animation-duration: ls ; animation-delay: 0.6s ; animation-name : none ;">
    <div class="goodnesssec buttermilk curdbgpro ">
      <a href="{% url 'catogory' 'Ic'  %}">
    <div class="goodnessseccont text-center ">
      <img src="{% static  'app/images/kulfi.png'%}"  class="img-responsive">
    </div> 
    <p class="mlkpro"> Kulfi  </p>
    
  
        </a>
      </div>
  
    </div>
  
