{% extends 'app/base.html' %}
{% load static %}
{% block title  %} Order {% endblock title  %} 
{% block main-content %}

<div class="container my-5">
   
        
   

    <div class="row">
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="" class="btn btn-primary">Orders</a></li>
            </ul>
        </div>
        
       

        
        
        
        
        <div class="col-sm-9 offset-sm-1">
            {% if messages  %}
    
            {% for messages  in messages  %}
                
            <h4  class="alert alert-danger p-2 text-center  " style="font-family : sans-serif ;">{{messages}}</h4>
            {% endfor %}
            {% endif %}
                
            
            {% if order_placed %}
            
            {% for op  in order_placed  %}
            <div class="row border  mt-3 p-2">
                <div class="col-sm-3 p-3">
                    <img src="{{op.product.product_img.url}}" alt="" class="image-fluid" height="120px" width="150px"/>

                </div>
                <div class="col-sm-3 border-end ">
                    <p> <strong> Product title  </strong> : {{op.product.title}}</p>
                    <p>Quantity  : {{op.quantity}}</p>
                    <p>Cost  :Rs {{op.total_cost}} / -</p>
                </div>
                <div class="col-sm-3">
                    <p>  <strong> Order Status </strong>: {{op.status}}</p>
                    
                    {% if op.status == "Packed" %}
                    
                <div class="progress-bar bg-info " role="progress" style="width : 20% " aria-volumenow="20" aria-volumemin="0" aria-volumemax="100">

                </div>
                        
                    {% endif %}

                    
                    {% if op.status == "On The Way " %}
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progress" style="width : 70% ;" aria-volumenow="70" aria-volumemin="0" aria-volumemax="100" >
                        </div>
                    </div>
                        
                    {% endif %}

                    {% if op.status == "Accepted" %}
                    <div class="progress">
                        <div class="progress-bar bg-success " role="progress" style="width : 70% ;" aria-volumenow="70" aria-volumemin="0" aria-volumemax="100" >
                        </div>
                    </div>
                        
                    {% endif %}
                    

                    {% if op.status == "Pending" %}
                    <div class="progress">
                        <div class="progress-bar bg-Info " role="progress" style="width : 70% ;" aria-volumenow="70" aria-volumemin="0" aria-volumemax="100" >
                        </div>
                    </div>
                        
                    {% endif %}


                    {% if op.status == "Delivered" %}
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progress" style="width : 10% ;" aria-volumenow="100" aria-volumemin="0" aria-volumemax="100" >
                        </div>
                    </div>
                    {% endif %}
                    {% if op.status == "Cancel" %}
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progress" style="width : 100% ;" aria-volumenow="100" aria-volumemin="0" aria-volumemax="100" >
                        </div>
                    </div>
                        
                    {% endif %}
                        




                </div>
            </div>
            {% endfor %}

            {% else %}
            <div class="col-sm-9 offset-1">
    
                <h4 class="alert alert-danger p-2  m-3 mx-5 text-center  " style="font-family : sans-serif ;"> No Item In Your  Ordered Page   </h4>
            </div>
    
    
            {% endif %}
                
                
        </div>
        
    </div>
</div>

{% endblock main-content %}




