{% extends 'app/base.html' %}
{% load static %}
{% block title  %} Cart {% endblock title  %}
{% block main-content  %}

<div class="container p-3 mb-5" style="height : 100% ;">
    
    

    <h2 class="text-center mb-4 fw-bold" style="font-family : Rajdhani "> Shopping Cart </h2>


   


{% if data  %}
    


    <div class="row">

        <div class="col-sm-8 ">
            <div class="card" style="">
                <div class="card-body">
                    
                    <h3 class="fw-bold"> Cart</h3>
                    {% for item  in data   %}
                    <div class="mt-4 border-bottom   ">
                        <div class="d-flex  mb-4">
                        
                            <div class="p-4 border ">
                                <a  class="p-3" href="{% url 'product-detail' item.product.id %}">

                                    <img src="{{item.product.product_img.url}}" alt="" style="width : 100px ; height : 100px ;">
                                    
                                </a>

                            </div>
                            <div class="  mx-4 ">
                                <h5 style="font-family : Georgia ; "> {{item.product.title}}</h5>
                                <p>{{item.product.discription|truncatewords:25}}</p>
                                
                                <div>
                                    <label for="Quantity" class="fw-bold ">Quantity</label>

                                    <a class="minus-cart" pid={{item.id}} style="border : 2px solid black  ; text-decoration : none ; cursor : pointer ;"  > ➖</a>
                                    <span id="Quantity" class="px-1" style="border : 1px solid black ;">{{item.quantity}}</span>
                                    <a class="plus-cart" pid={{item.id}} style="border : 2px solid black ; text-decoration : none ; cursor : pointer ; " >➕</a>
                                </div>
                                
                        
                                <div class="d-flex justify-content-between">
                                    <a  style="border : 2px solid black; height : 42px ; border-radius : 2px ; text-decoration : none ; color : white  ; background-color : black ; cursor : pointer ;" class="p-2 mt-3 remove-cart" pid={{item.id}}> Remove Item </a>
                                    <p style="height:22px; "><strong> Rs.{{item.product.discount_price}} /-</strong> </p>
                                    
                                </div>

                            </div>


                        </div>
                    </div>
                        
                    {% endfor %}
                        
                    
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card ">
            <div class="card-body">
                <h3> The Total Amount of </h3>
                <ul class="list-group">
                    <li class="ist-group-item d-flex justify-content-between alighn-item-center border=0 px-1  mt-1 pb-0 ">Amount <span id="amount"> Rs. {{amount}} /- </span></li>
                    <li class="ist-group-item d-flex justify-content-between alighn-item-center border=0 px-1 mt-1  pb-0 ">Shiping  <span >Rs. 40.00  / - </span></li>
                    <li class="ist-group-item d-flex justify-content-between alighn-item-center border=0 px-1 mt-1  pb-0 ">
                        
                        <div>
                            <strong>Total</strong> <small>(Including Gst)</small>
                        </div>
                        <span id="totalamount"> <strong>Rs. {{totalamount}}</strong></span>
            </li>
        </ul>
        <hr class="text-muted">
        {% comment %} <div class="d-grid"> <a href="{% url 'checkout' %}" class="btn btn-primary">Place Order</a></div> {% endcomment %}
        <div class="d-grid mt-2"> <a href="{% url 'checkout' %}" class="btn btn-primary">Place Order</a></div>


        <script type="text/javascript">


            {% comment %} cart script for plush minus remove  {% endcomment %}

            $('.plus-cart').click(function(){
                console.log("plus-log")
                var id=$(this).attr("pid").toString();
                console.log(id)
                var eml=this.parentNode.children[2] 
                $.ajax({
                    type:"GET",
                    url:"/plus-cart",
                    data:{
                        prod_id:id
                    },
                    success:function(data){
                        eml.innerText=data.quantity 
                        document.getElementById("amount").innerText=data.amount 
                        document.getElementById("totalamount").innerText=data.totalamount
                    }
                })
            })
            
            $('.minus-cart').click(function(){
                console.log("minus log")
                var id=$(this).attr("pid").toString();
                console.log(id)
                var eml=this.parentNode.children[2] 
                $.ajax({
                    type:"GET",
                    url:"/minus-cart",
                    data:{
                        prod_id:id
                    },
                    success:function(data){
                        eml.innerText=data.quantity 
                        document.getElementById("amount").innerText=data.amount 
                        document.getElementById("totalamount").innerText=data.totalamount
                    }
                })
            })

            


             
$('.remove-cart').click(function(){
    console.log(" i am click ")
    var id=$(this).attr("pid").toString();
    var eml=this
    $.ajax({
        type:"GET",
        url:"/removecart",
        data:{
            prod_id:id
        },
        success:function(data){
            console.log(data.msg)
            document.getElementById("amount").innerText=data.amount
            document.getElementById("totalamount").innerText=data.totalamount
            eml.parentNode.parentNode.parentNode.parentNode.remove() 
        }
    })
})

        </script>
    </div>
{% else %}
<div style="height : 100vh ;">

    <h3 class="alert alert-warning "> No Item in Cart</h3>
</div>
    {% endif %}
</div>
</div>


</div>



</div>

<div class="text-center p-2">
    <div class="">
        <img src="{% static 'app/images/payavail/upi.jpg'%}"  width="150px "  alt="" srcset="">
        <img src="{% static 'app/images/payavail/nb.jpg'%}"   width="150px " alt="" srcset="">
        <img src="{% static 'app/images/payavail/cc.jpg'%}"   width="150px " alt="" srcset="">
        <img src="{% static 'app/images/payavail/bj.jpg'%}"   width="150px " alt="" srcset="">
    </div>
    <img  class="mt-5 " src="{% static 'app/images/payavail/payment.png' %}" alt="payment methods " width="500px">
</div>    
{% endblock main-content  %}


