{% extends '../app/base.html' %}
{% load static %}
{% block main-content %}
<div class="container  " style="height : 100vh  ;" >

    <h4 class="text-center alert alert-success mx-5 p-3 mt-5 "> You Password Change  Successfuly ! </h4>
    <div class=" text-primary fw-bold mt-2 d-flex offset-5">
        <h6  class="mt-5 " style="  color : black ;"> Back to  ? <a style="text-decoration : none  ;" href="{% url 'home' %}" > Home </a></h6>
        <h6  class="mt-5 mx-4 " style="  color : black ;"> Log In  ? <a style="text-decoration : none  ;" href="{% url 'login' %}" > Click hear </a></h6>
    </div>
    
</div>
{% endblock main-content %}

