{% extends '../app/base.html' %}
{% load static %}
{% block main-content %}
<div class="container  " style="height : 100vh  ;" >

    <h4 class="text-center alert alert-success mx-5 p-2 mt-5 " style="font-family : sans-serif  ;"> We send a mail to you check the mail for set new password   </h4>
    <div class="text-center text-primary fw-bold mt-5">
        <h6 style="  color : black ;"> Back To Home  ? <a style="text-decoration : none  ;" href="{% url 'home' %}" >Home </a></h6>
    </div>
    
</div>
{% endblock main-content %}

