{% extends "../app/base.html" %}
{% load static %}
{% block title %} Profile {% endblock title %}
{% block main-content %}
<div class="container my-5">
    <h5  class=" mb-5 fw-bold   " style="font-family : serif   ; text-decoration : underline ;">Welcome <span class="text-capitalize">{{request.user}}</span> </h5>
    <div class="row">
   
    <div class="col-sm-2 border-end">
        <ul class="list-unstyled">
            <li  class="d-grid"><a  href="{% url 'customer profile'%}" class="btn btn-primary  ">Profile</a></li>
            <li class="d-grid"><a href="{% url 'customer address'%}" class="btn  ">Address</a></li>
        </ul>
    </div>
    <div class="col-sm-8 offset-lg px-5"> 
        
           
        {% if messages  %}

        {% for msg  in messages  %}
        <div class="alert alert-{{msg.tags}} p-3 mb-3" role="alert" >{{msg}} </div>
            
        {% endfor %}
            
      
        {% endif %}
        <form action="" method="post" novalidate >
            {% csrf_token %}

            
            {% if error in form.non_field_errors  %}
              
              {% for error  in form.non_field_errors   %}
              <p class="alert alert-danger my-2"> {{error}}</p>
                
              {% endfor %}
                
                
            {% endif %}
            
            
            {% for fm  in form   %}
            {{fm.label_tag}} {{fm}} <small class="text-danger"> {{fm.error|striptags }}</small><br>

            {% endfor %}
            
            <button  class="px-3 mt-3" style="background-color : #26c6da ; color : white ; padding : 5px ; border : none ; 
            border-radius : 5px ; font-family : Rajdhani ;" class=" mt-3" type="submit" value="value">submit</button>
            
                
            
                
        </form>
    </div>


    <div class="row">
        <form action="">
            {{form2.as_p}}
        </form>
    </div>
</div>
</div>
{% endblock main-content %}

